# Node modules
frontend/node_modules/
frontend/.next/
frontend/.env

# Python environment
backend/__pycache__/
backend/venv/
backend/.env
backend/**/__pycache__/
backend/yolov8n.pt

# Docker files
docker/*.log
